{% from 'bootstrap/utils.html' import render_messages %}
{% from 'bootstrap/nav.html' import render_nav_item %}
<!-- {% from 'bootstrap/utils.html' import render_icon %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- {% block title %} AutoTest Demo Application {% endblock %} -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container" style="font-size: 16px;">
            <a class="navbar-brand" href="{{ url_for('user.login') }}">AutoTest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <ul class="nav navbar-nav mr-auto">
                    {% if current_user.get_id() %}
                    {{ render_nav_item('user.dashboard','主页',use_li=True) }}
                    {% else %}
                    {{ render_nav_item('user.login','主页',use_li=True) }}
                    {% endif %}
                    {{ render_nav_item('project.query_all_projects','项目管理',use_li=True) }}
                    {{ render_nav_item('env.query_user_envs','环境管理',use_li=True) }}
                    {{ render_nav_item('case.query_user_cases','用例管理',use_li=True) }}
                    {{ render_nav_item('task.query_user_tasks','任务管理',use_li=True) }}
                </ul>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.get_id() %}
                    <!-- {{ render_icon('emoji-smile') }} -->
                    {{ render_nav_item('user.logout','退出',use_li=True) }}
                    {% else %}
                    {{ render_nav_item('user.login','登录',use_li=True) }}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main id="container" style="font-size:12px; line-height: 0.5;">
        {{ render_messages(container=False, dismissible=True) }}
        {% block content %}{% endblock %}
    </main>

    <!-- <footer class="text-center">
        {% block footer %}
            <small> &copy; 2021 - <script>document.write(new Date().getFullYear())</script> <a href="https://github.com/akimisen/autotest" title=""> github reposi</a>
            </small>
        {% endblock %}
    </footer> -->

    {{ bootstrap.load_js() }}
</body>
</html>
