{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}
{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
  <div class="mb-5" style="width:80%; margin-left:10%; margin-top: 2%;">
    <h5>个人用例维护</h5> 
    <div class="btn-group btn-group-sm" role="group" aria-label="primary outlined button" style="margin-top: 20px;">
      <a type="button" class="btn btn-outline-dark btn-sm" href="{{ url_for('case.add_case_http')}}">新建接口测试用例</a>
      <a type="button" class="btn btn-outline-dark btn-sm disabled" href="{{ url_for('case.add_case_web')}}">新建WebUI测试用例</a>
      <!-- <a type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#addCaseModal" href="{{ url_for('case.add_case_http')}}">新建接口测试用例</a>
      <a type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#addCaseModal" href="{{ url_for('case.add_case_web')}}">新建WebUI用例</a> -->
      <button type="button" class="btn btn-outline-dark btn-sm disabled">批量导入</button>
      <a type="button" class="btn btn-outline-dark btm-sm" href="{{ url_for('case.query_all_cases')}}">查看用例库</a>
    </div>

    <div style="margin-top: 20px;">
    {{ render_table(cases, titles, header_classes='thead-light') }}
    </div>
    <div>
    <!-- {{ render_pager(pagination,prev=('<span aria-hidden="true">&larr;</span> 上一页')|safe, next=('下一页 <span aria-hidden="true">&rarr;</span>')|safe, align='right') }} -->
    {{ render_pagination(pagination, align='right') }}
    </div>
    
    <!-- 点击新建用例弹出的对话框modal，modal-content为addCase表单  -->
    <!-- <div class="modal fade modal" id="addCaseModal" tabindex="-1" aria-labelledby="addCaseModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCaseModalLabel">新建用例</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ render_form(form) }}
          </div>
          <div class="modal-footer">
            <button type="button hidden" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div> -->

  </div>

{% endblock %}