<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>React Sample</title>
<script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
<script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div id="example"></div>

<script type="text/babel">
class Caselist extends React.Component {
  constructor(props) {
      super(props);
      this.state = {id: '', case_name: '', case_type: '', caselist_url: ''};
  }

  componentDidMount() {
    this.serverRequest = $.get(this.props.source, function (result) {
      var Caselist = result[0];
      this.setState({
        id: Caselist.id,
        case_name: Caselist.case_name,
        case_type: Caselist.case_type,
        caselist_url: Caselist.url
      });
    }.bind(this));
  }

  componentWillUnmount() {
    this.serverRequest.abort();
  }
 
  render() {
    return (
      <div>
        <tr>case_name:{this.state.case_name}</tr>
        <td></td>
      </div>
    );
  }
}
 
ReactDOM.render(
  <Caselist source="http://localhost:5000/api/caselist" />,
  document.getElementById('example')
);
</script>

</body>
</html>