{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}case-editor{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>新增用例</h1>
</div>
<div class="case-model">
    {% if case_model=='api' %}
    <p>当前模板: REST API</p>
    {% elif case_model=='ui' %}
    <p>当前模板: WEB UI</p>
    {% endif %}
</div>
<!-- <div class="user-info">
    <div>current_user : {{ user.user_name }}</div>
</div> -->
<div class="bar">
</div>
<div class="col-md-4">
{{ wtf.quick_form(form) }}
</div>
{% endblock %}